h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 32px;
}
 .center {
  display: flex;
  justify-content: center;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0%;
    width: 200px;
}
.title {
    text-align: center;
    color: red;
   font-weight: bolder;
}
.entered_letter_parent {
    margin-top: 50px;
    width: inherit;
}
button {
    margin: 15px;
    padding: 15px;
    color: blue;
    background-color: red;
}
.hide {
    display: none;
} 
.row {
    display:flex; 
}
.column{
    flex-direction: column;
}
 
.bold {
    font-weight: bold;
    color: blue;
    font-size: larger;
}
.button_wrapper{
margin: auto;
display: block;
text-align: center;
}
.box_body{
    margin: auto;
}
.navbar-item{
    color: blue;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
}
.size{
    font-size: larger;
    color: blue;
    font-weight: bolder;
} 

#wrong {
    color:red; 
    font-size: 26px;
}